{% extends "../inc/category/base.html" %}
{% block style %}
    <!--<link rel="stylesheet" href="/static/js/slider/slider.css" type="text/css" />-->
    <link rel="stylesheet" href="/static/admin/js/chosen/chosen.css" type="text/css"/>
    <script src="/static/admin/js/jquery.min.js"></script>
{% endblock %}
{% block content %}
    <form action="{{ controller.action }}" class="form-horizontal" method="post"
          data-validate="parsley">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">
                    添加类别
                </h5>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><i class="fa fa-asterisk text-danger"></i> 类别名称</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-3">
                                <input name="title" type="text" class="form-control"
                                       data-required="true"></div>
                            <div class="col-md-12 hide">
                                    <span class="help-block m-b-none text-muted"><i
                                                class="fa fa-info-circle text-info"></i> 名称不能为空.</span>
                            </div>
                        </div>
                    </div>
                </div>

                {#            <div class="form-group">
                                <label class="col-sm-2 control-label">栏目图标</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            {{HOOKS@adminUpPic.icon|safe}}
                                        </div>
                                        <div class="col-md-12 hide">
                                                    <span class="help-block m-b-none text-muted"><i
                                                                class="fa fa-info-circle text-info"></i> 图片上传</span>
                                        </div>
                                    </div>


                                </div>
                            </div>#}

                <div class="form-group">
                    <label class="col-sm-2 control-label">排序</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-2"><input name="sort" value="0" type="text" class="form-control">
                            </div>
                            <div class="col-md-12">
                                    <span class="help-block m-b-none text-muted"><i
                                                class="fa fa-info-circle text-info"></i> 仅对当前层级分类有效</span>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="documentsorts" value="">
                <div class="form-group">
                    <label class="col-sm-2 control-label">启用分类信息</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-10">
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="1" name="documentsorts[status]"><i></i> 是
                                </label>
                                <label class="radio-inline i-checks">
                                    <input type="radio" value="0" name="documentsorts[status]" checked=""><i></i> 否
                                </label>

                            </div>
                            <div class="col-md-12">
                                    <span class="help-block m-b-none text-muted"><i
                                                class="fa fa-info-circle text-info"></i> 以下设置没有继承性，即仅对当前栏目有效，不会对下级子栏目产生影响。</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="documentsortscon" style="display:none;">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">发布必须归类</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-10"><label class="radio-inline i-checks">
                                        <input type="radio" value="1" name="documentsorts[required]"><i></i> 是
                                    </label>
                                    <label class="radio-inline i-checks">
                                        <input type="radio" value="0" name="documentsorts[required]"
                                               checked=""><i></i> 否
                                    </label></div>
                                <div class="col-md-12">
                                        <span class="help-block m-b-none text-muted"><i
                                                    class="fa fa-info-circle text-info"></i> 是否强制用户发表新内容时必须选择分类</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">类别前缀</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-10"><label class="radio-inline i-checks">
                                        <input type="radio" value="1" name="documentsorts[prefix]"><i></i> 是
                                    </label>
                                    <label class="radio-inline i-checks">
                                        <input type="radio" value="0" name="documentsorts[prefix]"
                                               checked=""><i></i> 否
                                    </label></div>
                                <div class="col-md-12">
                                        <span class="help-block m-b-none text-muted"><i
                                                    class="fa fa-info-circle text-info"></i> 是否在主题前面显示分类的名称</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">启用默认显示分类</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-10"><label class="radio-inline i-checks">
                                        <input type="radio" value="1" name="documentsorts[default]"><i></i> 是
                                    </label>
                                    <label class="radio-inline i-checks">
                                        <input type="radio" value="0" name="documentsorts[default]"
                                               checked=""><i></i> 否
                                    </label></div>
                                <div class="col-md-12">
                                        <span class="help-block m-b-none text-muted"><i
                                                    class="fa fa-info-circle text-info"></i> 是否启用默认显示分类，如果启用请在下面的分类信息里面选择</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">选择分类</label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-10">
                                    <table class="table table-striped m-b-none" id="typelist">
                                        <thead>
                                        <tr>
                                            <th style="width: 70px;">启用</th>
                                            <th>分类名称</th>
                                            <th>分类说明</th>
                                            <th style="width: 150px;">发布菜单中显示</th>
                                            <th style="width: 150px;">默认显示分类</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for val in typelist %}
                                            <tr>
                                                <td>
                                                    <label class="checkbox i-checks" style="padding-top: 0;"><input
                                                                type="checkbox"
                                                                name="documentsorts[options][enable]"
                                                                value="{{ val.typeid }}"
                                                                class="enable"><i></i></label>
                                                </td>
                                                <td>{{ val.name }}</td>
                                                <td>{{ val.description }}</td>
                                                <td class="text-success">
                                                    <label class="checkbox i-checks" style="padding-top: 0;"><input
                                                                type="checkbox" name="documentsorts[options][show]"
                                                                value="1" class="show"><i></i></label>
                                                </td>
                                                <td class="text-success">
                                                    <label class="checkbox i-checks" style="padding-top: 0;"><input
                                                                type="radio" name="documentsorts[defaultshow]"
                                                                value="{{ val.typeid }}"
                                                                class="defaultshow"><i></i></label>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                        <span class="help-block m-b-none text-muted"><i
                                                    class="fa fa-info-circle text-info"></i> 关键字</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="col-sm-12">
                    <input type="hidden" name="mold" value="{{ controller.get('mold') }}">
                    <button type="submit" target-form="form-horizontal" class="btn btn-primary ajax-post">保存</button>
                    <button type="submit" class="btn btn-default" onclick="javascript:history.back(-1);return false;">
                        返回
                    </button>
                </div>
            </div>
        </div>

    </form>

{% endblock %}

{% block script %}
    <!-- slider -->
    <!--<script src="/static/js/slider/bootstrap-slider.js"></script>-->
    <!-- file input -->
    <script src="/static/admin/js/chosen/chosen.jquery.min.js"></script>
    <script src="/static/admin/js/file-input/bootstrap-filestyle.min.js"></script>
    <script src="/static/admin/js/parsley/parsley.min.js"></script>
    <script src="/static/admin/js/parsley/parsley.extend.js"></script>
    <script type="text/javascript">
      $(function () {

        //获取上级菜单
        $.ajax({
          url: "/admin/category/gettree",
            {#data: {mold:{{ controller.get('mold') }}},#}
          success: function (msg) {
            /* 展示生成的HTML */
            $("#pid").html(category_to_html(msg));

          }
        })

        //添加
        function addtype () {
          var required = $('input[name="documentsorts[required]"]:checked').val();
          var prefix = $('input[name="documentsorts[prefix]"]:checked').val();
          var defaults = $('input[name="documentsorts[default]"]:checked').val();
          var defaultshow = $('input[name="documentsorts[defaultshow]"]:checked').val();
          var types = []
          $("#typelist>tbody>tr").each(function (k, v) {
            var obj = {}
            obj.enable = $(v).find("input[name='documentsorts[options][enable]']:checked").val() || 0;
            obj.name = $(v).find("td").eq(1).text();
            obj.description = $(v).find("td").eq(2).text();
            obj.show = $(v).find("input[name='documentsorts[options][show]']:checked").val() || 0;
            if (obj.enable != 0) {
              types.push(obj);
            }
          });
          var documentsorts = {
            required: required,
            prefix: prefix,
            default: defaults,
            defaultshow: defaultshow,
            types: types
          }
          $('input[name="documentsorts"]').val("");
          $('input[name="documentsorts"]').val(JSON.stringify(documentsorts));
        }

        $('.enable,.show,.defaultshow,[name="documentsorts[required]"],[name="documentsorts[prefix]"],[name="documentsorts[default]"]').on('change', function () {
          addtype()
        })

        $('input[name="documentsorts[status]"]').click(function () {
          var val = $(this).val();
          if (val == 1) {
            $("#documentsortscon").show();
            addtype();
          } else {
            $("#documentsortscon").hide();
            $('input[name="documentsorts"]').val("");
          }
        })

        /* 生成HTML ul/li 形式 */
        function category_to_html (nodes) {
          var html = [];
          var size = nodes.length;
          var left = null;
          var pid = "{{ controller.get('pid') }}";
          html.push('<option value="0" selected="selected">一级菜单</option>');
          for (var i = 0; i < size; i++) {
            left = nodes[i];
            if (pid == left.id) {
              html.push('<option value="' + left['id'] + '" selected="selected">' + new Array(left["deep"] + 1).join("= ") + left['title'] + '</option>');
            } else {
              html.push('<option value="' + left['id'] + '">' + new Array(left["deep"] + 1).join("= ") + left['title'] + '</option>');
            }
          }
          return html.join("\n");
        }

        $(".addtemp").click(function () {
          var href = $(this).attr("id");
          var id = "#" + href.split("_")[0];
          var url = $(id).find(".addtemp").attr("data-url");
          window.location.href = url;
        })
      })
    </script>
{% endblock %}