{% from './_toolbars.html' import toolbar with context %}

{% macro actionToolbar(actions) %}
    {{ toolbar(actions) }}
{% endmacro %}

{% macro content(actions, content) %}
    {% if actions %}
        {{ toolbar(actions) }}
    {% endif %}
    {{ content }}
{% endmacro %}

{% macro tabContent(tabs, content) %}
    <div class="nav-tabs-responsive mb-3">
        <ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
            {% for item in tabs %}
                <li class="nav-item">
                    <a href="{{ item.url }}"
                       class="nav-link  {{ item.classes }} {{ 'active' if item.active }}">
                        {% if item.icon %}
                            <i class="{{ item.icon }} mr-2"></i>
                        {% endif %}
                        {{ item.text }}
                    </a>
                </li>
            {% endfor %}
            {#<li class="nav-item"><a href="search_users.html" class="nav-link"><i class="icon-people mr-2"></i> Users</a></li>#}
            {#<li class="nav-item"><a href="search_images.html" class="nav-link"><i class="icon-image2 mr-2"></i> Images</a></li>#}
            {#<li class="nav-item"><a href="search_videos.html" class="nav-link"><i class="icon-file-play mr-2"></i> Videos</a></li>#}
            {#<li class="nav-item dropdown ml-md-auto">#}
            {#<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" data-boundary="window">#}
            {#<i class="icon-cog3 mr-2"></i>#}
            {#Options#}
            {#</a>#}
            {##}
            {#<div class="dropdown-menu dropdown-menu-right">#}
            {#<a href="#" class="dropdown-item">Action</a>#}
            {#<a href="#" class="dropdown-item">Another action</a>#}
            {#<a href="#" class="dropdown-item">Something else</a>#}
            {#<div class="dropdown-divider"></div>#}
            {#<a href="#" class="dropdown-item">One more line</a>#}
            {#</div>#}
            {#</li>#}
        </ul>
    </div>
    {#<div class="card">#}
        {#{% if actions %}#}
            {#<div class="bg-light">#}
                {#{{ toolbar(actions, { class: toolbarClass }) }}#}
            {#</div>#}
        {#{% endif %}#}
        {{ content }}
    {#</div>#}
{% endmacro %}