<div class="navbar navbar-expand-md navbar-light fixed-top">

    <!-- Header with logos -->
    <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
        <div class="navbar-brand navbar-brand-md">
            <a href="index.html" class="d-inline-block">
                <img src="/static/global_assets/images/logo_light.png" alt="">
            </a>
        </div>

        <div class="navbar-brand navbar-brand-xs">
            <a href="index.html" class="d-inline-block">
                <img src="/static/global_assets/images/logo_icon_light.png" alt="">
            </a>
        </div>
    </div>
    <!-- /header with logos -->


    <!-- Mobile controls -->
    <div class="d-flex flex-1 d-md-none">
        <div class="navbar-brand mr-auto">
            <a href="index.html" class="d-inline-block">
                <img src="/static/global_assets/images/logo_dark.png" alt="">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
            <i class="icon-tree5"></i>
        </button>

        <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
            <i class="icon-paragraph-justify3"></i>
        </button>
    </div>
    <!-- /mobile controls -->


    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>
        <span class="navbar-text mr-md-auto">
            <div class="breadcrumb">
                <a href="#" class="breadcrumb-item py-0 ml-3">首页</a>
                <a href="#" class="breadcrumb-item py-0">用户</a>
                <span class="breadcrumb-item active py-0">{{ controller.meta_title }}</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </span>

        <ul class="navbar-nav">
{#            <li class="nav-item dropdown">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="/static/global_assets/images/lang/gb.png" class="img-flag mr-2" alt="">
                    English
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item english active"><img
                                src="/static/global_assets/images/lang/gb.png" class="img-flag" alt=""> English</a>
                    <a href="#" class="dropdown-item ukrainian"><img src="/static/global_assets/images/lang/ua.png"
                                                                     class="img-flag" alt=""> Українська</a>
                    <a href="#" class="dropdown-item deutsch"><img src="/static/global_assets/images/lang/de.png"
                                                                   class="img-flag" alt=""> Deutsch</a>
                    <a href="#" class="dropdown-item espana"><img src="/static/global_assets/images/lang/es.png"
                                                                  class="img-flag" alt=""> España</a>
                    <a href="#" class="dropdown-item russian"><img src="/static/global_assets/images/lang/ru.png"
                                                                   class="img-flag" alt=""> Русский</a>
                </div>
            </li>#}

            <li class="nav-item dropdown">
                {#<a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">#}
                    {#<i class="icon-bubbles4"></i>#}
                    {#<span class="d-md-none ml-2">消息</span>#}
                    {#<span class="badge badge-mark border-pink-400 ml-auto ml-md-0"></span>#}
                {#</a>#}
                <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span cadlass="d-md-none ml-2"></span>
                    <span class="badge badge-pill bg-warning-400 ml-auto ml-md-0">{{ notifications.count }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                    <div class="dropdown-content-header">
                        <span class="font-weight-semibold">总 {{ notifications.count }} 消息</span>
                        <a href="#" class="text-default"><i class="icon-compose"></i></a>
                    </div>

                    <div class="dropdown-content-body dropdown-scrollable">
                        <ul class="media-list">
                            {% for n in notifications.data %}

                            <li class="media">
                                <div class="mr-3 position-relative">
                                    <img src="/static/global_assets/images/placeholders/placeholder.jpg" width="36"
                                         height="36" class="rounded-circle" alt="">
                                </div>

                                <div class="media-body">
                                    <div class="media-title">
                                        <a href="{{ n.url }}">
                                            <span class="font-weight-semibold">James Alexander</span>
                                            <span class="text-muted float-right font-size-sm">04:58</span>
                                        </a>
                                    </div>

                                    <span class="text-muted">
                                        {{ n.info }}
                                    </span>
                                </div>
                            </li>
                                {% else %}
                                    <li class="media">
                                        <div class="media-body">
                                            <div class="media-title">
                                                <span class="font-weight-semibold">没有消息</span>
                                            </div>

                                            {#<span class="text-muted">#}
                                                {#没有消息#}
                                            {#</span>#}
                                        </div>
                                    </li>
                            {% endfor %}


                        </ul>
                    </div>

                    <div class="dropdown-content-footer bg-light">
                        <a href="#" class="text-grey mr-auto">查看全部消息</a>
                        <div>
                            <a href="#" class="text-grey" data-popup="tooltip" title="全部已读"><i
                                        class="icon-radio-unchecked"></i></a>
                            <a href="#" class="text-grey ml-2" data-popup="tooltip" title="设置"><i
                                        class="icon-cog3"></i></a>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item dropdown dropdown-user">
                <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                    <img src="/admin/user/avatar" class="rounded-circle"
                         alt="">
                    <span>{{ userinfo.username }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> 个人信息</a>
                    <a href="#" class="dropdown-item"><i class="icon-coins"></i> 我的账户</a>
                    <a href="#" class="dropdown-item"><i class="icon-comment-discussion"></i> 消息 <span
                                class="badge badge-pill bg-indigo-400 ml-auto">58</span></a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> 账户设置</a>
                    <a href="/admin/public/logout" class="dropdown-item"><i class="icon-switch2"></i> 登出</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- /navbar content -->

</div>