{% extends "./_base.html" %}

{% block pageAction %}
    <a href="/admin/menu/add"
       class="btn bg-indigo-400"
    data-toggle="modal"
    data-target="#modal_remote">
        <i class="icon-plus22 mr-2"></i>
        添加菜单
    </a>

{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">菜单列表</h5>
            <div class="header-elements">
                <div class="list-icons">
                    {#<a class="list-icons-item" data-action="collapse"></a>#}
                    <a class="list-icons-item" data-action="reload"></a>
                    {#<a class="list-icons-item" data-action="remove"></a>#}
                </div>
            </div>
        </div>

        <div class="card-body">
            点击<code>菜单名称</code>进入子菜单管理，开发状态下菜单仅管理员可见，隐藏状态为全员不可见。
        </div>

        <table class="table datatable-basic table-bordered table-hover dataTable no-footer" data-ride="datatables">
            <thead>
            <tr>
                <th style="width:46px;"><input type="checkbox"></th>
                <th style="width:46px;">ID</th>
                <th>名称</th>
                <th>上级菜单</th>
                <th>分组</th>
                <th>URL</th>
                <th style="width:46px;">排序</th>
                <th>开发</th>
                <th>隐藏</th>
                <th style="width:150px;">操作</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="{{ ASSETS }}/js/menu.js"></script>

{% endblock %}