{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}
{% block content %}
    {% set actions = {
        primary: [{
            url: '/' + ctx.module + '/' + ctx.controller + '/roleadd',
            toggle: true,
            icon: 'icon-add',
            text: '添加管理角色'
        }],
        secondary: [{
            url: '/' + ctx.module + '/' + ctx.controller + '/roledel',
            text: '删除',
            attribute: 'target-form=ids'
        }, {
            url: '/' + ctx.module + '/' + ctx.controller + '/sort',
            class: 'ajax-post',
            icon: 'icon-sort-numeric-asc',
            attribute: 'target-form=sort',
            text: '排序'
        }]
    } %}

    {% set tabs = [{
        url: '/' + ctx.module + '/' + ctx.controller + '/index',
        text: '用户组',
        icon: 'icon-user4',
        active: (true if ctx.action == 'index')
    }, {
        url: '/' + ctx.module + '/' + ctx.controller + '/admin',
        icon: 'icon-user-tie',
        text: '管理员角色',
        active: (true if ctx.action === 'admin')
    }] %}

    {% set theader = [
        { html: '<input type="checkbox">', width: '5%' },
        { html: '排序', width: '8%'},
        { html: '用户组' },
        { html: '描述' },
        { html: '授权' },
        { html: '状态' },
        { html: '操作', width: '10%', classes: 'text-center' }
    ] %}

    {% set rowItems = [] %}
    {% for item in list %}
        {% set rowItems = (rowItems.push({cells: [
            { html: ('<input class="ids" type="checkbox" name="ids" value="'+ item.groupid +'">' if item.issystem !== 1) },
            { html: '<input class="form-control form-control-text sort" name="sort" value="'+ item.sort +'" data-id="'+ item.groupid +'">'},
            { html: item.desc},
            { html: item.description },
            { html: '<div class="btn-group">
                        <a class="btn btn-light btn-sm" href="/admin/auth/access/?id={{item.id}}">权限设置</a>
                        <a class="btn btn-light btn-sm" href="/admin/auth/catepriv/?id={{item.id}}">栏目权限</a>
                        <a class="btn btn-light btn-sm" href="/admin/auth/userlist/?id={{item.id}}">成员管理</a>
                    </div>' },
            { html: ('<a href="/admin/auth/setstatus/?ids='+item.id +'&status='+ (1-item.status) + '&model=auth_role" class="active ajax-get" data-toggle="class">'+
('<i class="fa fa-check text-success"></i>' if item.status == 1 else '<i class="fa fa-times text-danger"></i>') +
                                    '</a>') },

            { classes: 'text-center',
                html: dropdowns.menu([ {
                text: '编辑',
                toogle: true,
                url: '/admin/auth/roleedit?id=' + item.id
            }, {
                text: '删除',
                icon: 'icon-trash-alt',
                url: (('/admin/auth/roledel/?ids=' + item.id) if item.issystem !== 1 else 'limited'),
                classes: 'confirm ajax-get'
            }])}
        ]}), rowItems) %}
    {% endfor %}
    {% if pagerData %}
        {% set pager = (pagerData | safe) %}
    {% endif %}

    {% set content = cards.toolbarGrid(actions, theader, rowItems, pager) %}

    {{ pages.tabContent(tabs, content) }}
{% endblock %}
