{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}

{% block style %}
    <link rel="stylesheet" href="{{ ASSETS }}/js/plugins/datepicker/bootstrap-datetimepicker.min.css" type="text/css">
{% endblock %}

{% block pageHeader %}
    <div class="page-header">
        <!-- Header content -->
        <div class="page-header-content">
            <div class="page-title">
                <h4>
                    <i class="icon-cabinet position-left"></i>
                    <span class="text-semibold">运营管理</span> - {{ controller.meta_title }}
                </h4>

                <ul class="breadcrumb position-right">
                    <li>
                        <a href="index.html">
                            首页
                        </a>
                    </li>
                    {#<li><a href="/admin/user/index">用户运营</a></li>#}
                    <li class="active">{{ controller.meta_title }}</li>

                </ul>
                <a class="heading-elements-toggle">
                    <i class="icon-more"></i>
                </a>
            </div>

            <div class="heading-elements">
                <form class="heading-form" action="#">
                    <div class="form-group">
                        {#
                              <div class="input-group">
                                                    <input type="search" class="form-control" name="username" placeholder="输入用户名检索"
                                                           value="{{ controller.get('username') }}">
                                                    <span class="input-group-btn">
                                                        <a class="btn btn-default "
                                                           id="search"
                                                           href="/admin/user/index">
                                                            <i class="icon-search4 text-size-small text-muted"></i>
                                                        </a>
                                                    </span>
                                                </div>#}
                        <div class="has-feedback">
                            <div class="input-group ">
                                <input type="search" class="form-control" name="username" placeholder="输入并按「Enter」键检索"
                                       value="{{ controller.get('username') }}">
                                <a class="form-control-feedback "
                                   id="search"
                                   href="/admin/user/index">
                                    <i class="icon-search4 text-size-small text-muted"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
                <a href="/admin/user/adduser"
                   class="btn btn-default btn-primary ml-10"
                   data-toggle="modal"
                   data-target="#modal_remote"
                >
                    <i class="icon-plus-circle2 position-left"></i>
                    {#<i class="icon-plus-circle2 position-left"></i>#}
                    <span class="text">添加用户</span>
                    {#<b><i class=" icon-add"></i></b>#}
                </a>
            </div>
        </div>
        <!-- /header content -->


    </div>

{% endblock %}

{% block content %}
    {% set toolbar = {
        primary: [{
            text: '添加',
            url: '/admin/action/add',
            icon: 'icon-add'
        }],
        secondary: [{
            text: '启用',
            url: '/admin/action/setstatus?status=0',
            attribute: 'traget-form="ids"',
            classes: 'ajax-post',
            icon: 'icon-checkmark3'
        }, {
            text: '禁用',
            url: '/admin/action/setstatus?status=1',
            attribute: 'traget-form="ids"',
            classes: 'ajax-post ',
            icon: 'icon-cross2'
        }, {
            text: '删除',
            url: '/admin/action/setstatus?status=-1',
            attribute: 'target-form="items"',
            classes: 'ajax-post confirm',
            icon: 'icon-trash-alt'
        }]} %}

    {% set theader =  [
        { html: '<input type="checkbox">' },
        { html: 'ID'},
        { html: '用户名'},
        { html: '邮箱'},
        { html: '用户组'},
        { html: 'IP'},
        { html: '最后登录'},
        { html: '金钱总数'},
        { html: '积分点数'},
        { html: '状态'},
        { width: '10%', classes: 'text-center', html: '操作'}
    ] %}

    {% set rowItems = [] %}
    {% for item in list %}
        {% set group=item.groupid|get_member_group %}
        {% set rowItems = (rowItems.push({cells: [
            { html: '<input class="ids" type="checkbox" name="ids" value="'+ item.id +'">'},
            { html: item.id},
            { html: '<a class="text-primary" data-toggle="modal" data-target="#modal_remote"
            href="/admin/user/showuser/?id='+ item.id +'">'+ item.username +'"<i class="fa fa-search-plus"></i></a>'},
            { html: item.email },
            { html: group.name },
            { html: item.reg_ip|int2ip },
            { html: item.last_login_time | moment('YYYY-MM-DD HH:mm:ss') },
            { html: item.amount },
            { html: item.score },
            { html: ('' if item.id|in_Array(controller.config('user_administrator'))
                        else '<a href="/admin/user/setstatus/?ids='+ item.id +'&status=1-item.status&model=member" class="active ajax-get" data-toggle="class">
                            <i class="fa ' +( "fa-check text-success text-active" if item.status else "fa-times text-danger text") +'"></i></a>')},
            { classes: 'text-center',
                html: dropdowns.menu([{
                url: '/admin/user/edituser?id='+ item.id,
                icon: 'icon-pencil7',
                attribute: 'data-toggle=modal data-target=#modal_remote' ,
                text: '修改'
            }, {
                url: '/admin/user/recharge/?ids='+ item.id +'&status=-1',
                icon: 'icon-coins',
                attribute: 'data-toggle=modal data-target=#modal_remote' ,
                text: '充值'
            }, {
                text: '删除',
                icon: 'icon-trash-alt',
                url: ('limited' if item.id|in_Array(controller.config('user_administrator')) else '/admin/user/userdel/?ids=' + item.id),
                classes: 'confirm ajax-get'
            }])}
        ]}), rowItems) %}
    {% endfor %}

    {#{%if item.id|in_Array(controller.config('user_administrator'))%}{%else%}#}
        {#<a href="/admin/user/userdel/?ids={{item.id}}" class="confirm ajax-get text-info">删除</a>#}
    {#{%endif%}#}

    {% set pager = (pagerData | safe) %}
    {% set content = cards.grid(theader, rowItems, pager) %}

    {{ pages.content(toolbar, content) }}

{% endblock %}

{% block script %}
    {#<script src="/static/admin/js/parsley/parsley.min.js"></script>#}
    {#<script src="/static/admin/js/parsley/parsley.extend.js"></script>#}
    <script src="{{ ASSETS }}/js/plugins/datepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="{{ ASSETS }}/js/plugins/datepicker/locales/bootstrap-datetimepicker.zh-CN.js"
            type="text/javascript"></script>
{% endblock %}