{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}

{% block style %}
    <link rel="stylesheet" href="{{ ASSETS }}/js/plugins/datepicker/bootstrap-datetimepicker.min.css" type="text/css">
{% endblock %}

{% block content %}
    {% set toolbar = {
        primary: [{
            text: '添加用户',
            url: '/admin/user/adduser',
            icon: 'icon-add',
            toggle: true
        }],
        secondary: [{
            text: '启用',
            url: '/admin/action/setstatus?status=0',
            attribute: 'traget-form="ids"',
            classes: 'ajax-post',
            icon: 'icon-checkmark3'
        }, {
            text: '禁用',
            url: '/admin/action/setstatus?status=1',
            attribute: 'traget-form="ids"',
            classes: 'ajax-post ',
            icon: 'icon-cross2'
        }, {
            text: '删除',
            url: '/admin/action/setstatus?status=-1',
            attribute: 'target-form="items"',
            classes: 'ajax-post confirm',
            icon: 'icon-trash-alt'
        }]} %}

    {% set theader =  [
        { html: '<input type="checkbox">' },
        { html: 'ID'},
        { html: '用户名'},
        { html: '邮箱'},
        { html: '用户组'},
        { html: 'IP'},
        { html: '最后登录'},
        { html: '金钱总数'},
        { html: '积分点数'},
        { html: '状态'},
        { width: '10%', classes: 'text-center', html: '操作'}
    ] %}

    {% set rowItems = [] %}
    {% for item in list %}
        {% set group = (item.groupid|get_member_group) %}
        {% set limited = (item.id|in_Array(controller.config('user_administrator'))) %}
        {% set rowItems = (rowItems.push({cells: [
            { html: '<input class="ids" type="checkbox" name="ids" value="'+ ('' if limited else item.id) +'"'+("disabled=true" if limited)+'">'},
            { html: item.id},
            { html: '<a class="text-primary" data-toggle="modal" data-target="#modal_remote"
            href="/admin/user/showuser/?id='+ item.id +'">'+ item.username +' </a>'},
            { html: item.email },
            { html: group.name },
            { html: item.reg_ip|int2ip },
            { html: item.last_login_time | moment('YYYY-MM-DD HH:mm:ss') },
            { html: item.amount },
            { html: item.score },
            { html: ('' if item.id|in_Array(controller.config('user_administrator'))
            else '<a href="/admin/user/setstatus/?ids='+ item.id +'&status=1-item.status&model=member" class="active ajax-get" data-toggle="class">
                            <i class="fa ' +( "fa-check text-success text-active" if item.status else "fa-times text-danger text") +'"></i></a>')},
            { classes: 'text-center',
                html: dropdowns.menu([{
                url: '/admin/user/edituser?id='+ item.id,
                icon: 'icon-pencil7',
                attribute: 'data-toggle=modal data-target=#modal_remote' ,
                text: '修改'
            }, {
                url: '/admin/user/recharge/?ids='+ item.id +'&status=-1',
                icon: 'icon-coins',
                attribute: 'data-toggle=modal data-target=#modal_remote' ,
                text: '充值'
            }, {
                text: '删除',
                icon: 'icon-trash-alt',
                url: ('limited' if item.id|in_Array(controller.config('user_administrator')) else '/admin/user/userdel/?ids=' + item.id),
                classes: 'confirm ajax-get'
            }])}
        ]}), rowItems) %}
    {% endfor %}

    {% set pager = (pagerData | safe) %}
    {% set content = cards.grid(theader, rowItems, pager) %}

    {{ pages.content(toolbar, content) }}

{% endblock %}

{% block script %}
    {#<script src="/static/admin/js/parsley/parsley.min.js"></script>#}
    {#<script src="/static/admin/js/parsley/parsley.extend.js"></script>#}
    <script src="{{ ASSETS }}/js/plugins/datepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="{{ ASSETS }}/js/plugins/datepicker/locales/bootstrap-datetimepicker.zh-CN.js"
            type="text/javascript"></script>
{% endblock %}