<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-content ">

        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
                <span>系统管理</span>
                <!--<ul class="icons-list">-->
                <!--<li><a href="#" data-action="collapse"></a></li>-->
                <!--</ul>-->
            </div>

            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    {#<li class="navigation-header"><span>菜单</span> <i class="icon-menu" title="用户管理"></i></li>#}
                    <li class="active">
                        <a href="/admin/user/index">
                            <i class="icon-users2"></i>
                            <span>用户列表</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/action/index">
                            <i class=" icon-rulers"></i>
                            <span>用户行为</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/action/log">
                            <i class="icon-history"></i>
                            <span>行为日志</span>
                        </a>
                    </li>
                    <!-- /main -->

                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->