{% extends "../admin/template/outerLayoutAdmin.html" %}
{% block main %}
    <!-- Main content -->
    <div class="content-wrapper">

        <!-- Error title -->
        <div class="text-center content-group">
            <h1 class="error-title">403</h1>
            <h5>对不起，您没有权限访问!</h5>
        </div>
        <!-- /error title -->


        <!-- Error content -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <form action="#" class="main-search">
{#                    <div class="input-group content-group">
                        <input type="text" class="form-control input-lg" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn bg-slate-600 btn-icon btn-lg"><i class="icon-search4"></i>
                            </button>
                        </div>
                    </div>#}

                    <div class="row">
                        <div class="col-sm-12">
                            <a href="/admin/index" class="btn btn-primary btn-block content-group"><i
                                        class="icon-circle-left2 position-left"></i> 返回首页</a>
                        </div>

                        {#<div class="col-sm-6">#}
                            {#<a href="#" class="btn btn-default btn-block content-group"><i#}
                                        {#class="icon-menu7 position-left"></i> Advanced search</a>#}
                        {#</div>#}
                    </div>
                </form>
            </div>
        </div>
        <!-- /error wrapper -->

    </div>
    <!-- /main content -->
{% endblock %}
