{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}

{% block script %}
    <script src="{{ GLOBAL_ASSETS }}/js/demo_pages/dashboard.js"></script>
{% endblock %}

{% block beforeAppScript %}
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/ui/moment/moment.min.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/pickers/daterangepicker.js"></script>
{% endblock %}

{% block content %}

    <!-- Content area -->
    <div class="content pt-0">

        <!-- Dashboard content -->
        <div class="row">
            <div class="col-xl-12">

                <!-- Quick stats boxes -->
                <div class="row">
                    <div class="col-lg-4">

                        <!-- Members online -->
                        <div class="card bg-teal-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">3,450</h3>
                                    <span class="badge bg-teal-800 badge-pill align-self-center ml-auto">+53,6%</span>
                                </div>

                                <div>
                                    Members online
                                    <div class="font-size-sm opacity-75">489 avg</div>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div id="members-online"></div>
                            </div>
                        </div>
                        <!-- /members online -->

                    </div>

                    <div class="col-lg-4">

                        <!-- Current server load -->
                        <div class="card bg-pink-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">49.4%</h3>
                                    <div class="list-icons ml-auto">
                                        <div class="list-icons-item dropdown">
                                            <a href="#" class="list-icons-item dropdown-toggle"
                                               data-toggle="dropdown"><i class="icon-cog3"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    Current server load
                                    <div class="font-size-sm opacity-75">34.6% avg</div>
                                </div>
                            </div>

                            <div id="server-load"></div>
                        </div>
                        <!-- /current server load -->

                    </div>

                    <div class="col-lg-4">

                        <!-- Today's revenue -->
                        <div class="card bg-blue-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">$18,390</h3>
                                    <div class="list-icons ml-auto">
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>

                                <div>
                                    Today's revenue
                                    <div class="font-size-sm opacity-75">$37,578 avg</div>
                                </div>
                            </div>

                            <div id="today-revenue"></div>
                        </div>
                        <!-- /today's revenue -->

                    </div>
                </div>
                <!-- /quick stats boxes -->

            </div>

        </div>
        <!-- /dashboard content -->

    </div>
    <!-- /content area -->

{% endblock %}


