<div {% if info.type != 'radio' %}style="display: none;"{% endif %} id="style_radio">
    <legend class="text-bold">
        单选(radio)
    </legend>
    {% if info.type == "radio" %}
        {% set rules = info.rules|strToJson %}
    {% endif %}
    <div class="form-group">
        <label class="col-sm-2 control-label">字段内容</label>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-md-4"><textarea name="rules[radio][choices]"
                                                class="form-control">{% if info.type == 'radio' %}{{ rules.choices }}{% endif %}</textarea>
                </div>
                <div class="col-md-12 ">
                                    <span class="help-block m-b-none text-muted"><i
                                                class="fa fa-info-circle text-info"></i>
                                        只在项目为可选时有效，每行一个字段，等号前面为字段索引(建议用数字)，后面为内容，例如: <br>
<pre>1:选项1
2:选项2
3:选项3</pre>
注意: 字段确定后请勿修改索引和内容的对应关系，但仍可以新增字段。如需调换显示顺序，可以通过移动整行的上下位置来实现
</span>
                </div>
            </div>
        </div>
    </div>
</div>
