{#{% extends "view/admin/ext/admin.html" %}#}
{% extends "view/admin/inc/user/base.html" %}
{% block pageHeader %}
    <div class="page-header">
        <!-- Header content -->
        <div class="page-header-content">
            <div class="page-title">
                <h4>
                    <i class="icon-cabinet position-left"></i>
                    <span class="text-semibold">运营管理</span> - {{ controller.meta_title }}
                </h4>

                <ul class="breadcrumb position-right">
                    <li>
                        <a href="#">
                            首页
                        </a>
                    </li>
                    <li class="active">{{ controller.meta_title }}</li>
                </ul>
                <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>
            <div class="heading-elements">
                {#
<a href="/{{ ctx.controller }}/addspace"
          class="btn btn-labeled btn-labeled-right bg-primary heading-btn"
          data-toggle="modal"
          data-target="#modal_remote">
           添加广告位
           <b><i class="icon-add-to-list"></i></b>
       </a>

            <a href="/{{ ctx.controller }}/adcache"
                   class="btn btn-labeled btn-labeled-right bg-success heading-btn ajax-get">
                    更新广告缓存
                    <b><i class="icon-database-refresh"></i></b>
                </a>
                                           #}
            </div>

        </div>
        <!-- /header content -->


        <!-- Toolbar -->
        <div class="navbar navbar-default navbar-component navbar-xs">
            <ul class="nav navbar-nav visible-xs-block">
                <li class="full-width text-center">
                    <a data-toggle="collapse" data-target="#navbar-filter">
                        <i class="icon-menu7"></i>
                    </a>
                </li>
            </ul>

            <div class="navbar-collapse collapse" id="navbar-filter">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/addon/{{ ctx.controller }}/index">{{ controller.meta_title }}</a></li>
                    <li class=""><a href="/addon/{{ ctx.controller }}/temp">模板设置</a></li>

                </ul>
            </div>
            <!-- /toolbar -->

        </div>
    </div>

{% endblock %}


{% block content %}
    <div class="panel panel-default">
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th style="width:20px;">
                        <input type="checkbox">
                    </th>
                    <th style="">名称</th>
                    <th class="">图片数量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td>
                            <input class="ids" type="checkbox" name="ids"
                                   value="{{ item.spaceid }}">
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.items }}</td>
                        <td>
                            <a href="/{{ ctx.module }}/{{ ctx.controller }}/adlist/?spaceid={{ item.spaceid }}"
                               class="btn">图片列表</a>
                            <a href="/{{ ctx.module }}/{{ ctx.controller }}/editspace/?spaceid={{ item.spaceid }}"
                               class="btn"
                               data-toggle="modal" data-target="#modal_remote">修改</a>
                            <a href="/{{ ctx.module }}/{{ ctx.controller }}/delspace/?ids={{ item.spaceid }}"
                               class="confirm ajax-get btn  ">删除</a>
                            <a href="/{{ ctx.module }}/{{ ctx.controller }}/addad/?spaceid={{ item.spaceid }}" class="btn">添加图片</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">
                            <div class="alert alert-warning alert-block">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <p>还没有内容!</p>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if pagerData %}
            <div class="panel-footer">
                <div class="col-sm-12 text-right text-center-xs">
                    {{ pagerData | safe }}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
