{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}

{% block content %}
    {% set actions = {
        primary: [{
            text: '添加独立模型',
            url: '/'+ ctx.module +'/'+ ctx.controller +'/add',
            icon: 'icon-add'
        }],
        secondary: [{
            url: '/admin/'+ ctx.controller +'/setstatus?status=1',
            text: '启用',
            attribute: 'target-form=ids'
        }, {
            url: '/admin/'+ ctx.controller +'/setstatus?status=0',
            text: '禁用',
            attribute: 'target-form=ids'
        }, {
            url: '/admin/'+ ctx.controller +'/generate',
            text: '生成'
        }]} %}

    {% set tabs = [{
        url: '/'+ ctx.module +'/'+ ctx.controller +'/ext',
        active: true,
        text: '已安装的模型'
    }, {
        url: '/'+ ctx.module +'/'+ ctx.controller +'/extun',
        text: '未安装的模型'
    }] %}

    {% set theader =  [
        { html: '<input type="checkbox">'},
        { html: '目录/标识'},
        { html: '名称'},
        { html: '版本号'},
        { html: '作者'},
        { html: '安装时间'},
        { html: '状态'},
        { width: '10%', classes: 'text-center', html: '操作'}
    ] %}

    {% set rowItems = [] %}
    {% for item in list %}

        {% set rowItems = (rowItems.push({cells: [
            { html: '<input class="ids" type="checkbox" name="ids" value="'+ (item.id if item.id !== 1) +'"'+ ('disabled=true' if item.id == 1) +'>'},
            { html: item.name },
            { html: '<a href="/admin/model/'+ (('edit' if item.id == 1 else 'editext') if item.extend == 0 else 'edit') +'?id='+ item.id +'" data-id="'+ item.id +'">'+ item.title +'</a>' },
            { html: item.version },
            { html: item.author },
            { html: ( item.create_time | moment('YYYY-MM-DD HH:mm')) },
            { html: '<a href="/admin/model/setstatus/?ids='+ item.id +'&status='+ (1-item.status) +'" data-toggle="class" class="active ajax-get">
                        <i class="fa '+ ('fa-check text-success text-active' if item.status else 'fa-times text-danger text') +'"></i></a>' },

            { classes: 'text-center',
                html: dropdowns.menu([{
                url: '/admin/model/'+ (('edit' if item.id == 1 else 'editext') if item.extend == 0 else 'edit') +'?id='+ item.id,
                icon: 'icon-pencil7',
                text: '编辑'
            }, {
                url: '/admin/attribute/'+ ('index' if (item.extend == 1 or item.id == 1) else 'ext') +'/?model_id=' + item.id,
                icon: 'icon-cog ',
                text: '字段'
            }, {
                text: '卸载',
                icon: 'icon-trash-alt',
                url: ('/admin/model/unext?id='+ item.ext if item.id !== 1 else 'limited'),
                classes: 'confirm ajax-get'
            }])}
        ]}), rowItems) %}

    {% endfor %}

    {% if pagerData %}
        {% set pager = (pagerData | safe) %}
    {% endif %}
    {% set content = cards.toolbarGrid(actions, theader, rowItems, pager) %}

    {{ pages.tabContent(tabs, content) }}

{% endblock %}