{% extends "../inc/category/base.html" %}

{% block pageToolbar %}
    <div class="navbar navbar-default navbar-component navbar-xs">
        <ul class="nav navbar-nav visible-xs-block">
            <li class="full-width text-center"><a data-toggle="collapse" data-target="#navbar-filter"><i
                            class="icon-menu7"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="navbar-filter">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/admin/type/index">
                        分类信息
                    </a>
                    {#<a href="/{{ ctx.controller }}/index"#}
                    {#class="c-tabs__link">#}
                    {#<i class="icon-users4 position-left"></i>#}
                    {#用户组#}
                    {#</a>#}
                </li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        字段类别
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu text-left">
                        {% for val in typeoption %}
                            <li class="{% if val.optionid in ctx.originalUrl %} active {% endif %}">
                                <a href="/admin/type/typeoption/?classid={{ val.optionid }}">
                                    {{ val.title }}
                                </a></li>
                        {% endfor %}
                    </ul>
                </li>

            </ul>
        </div>
        <!-- /toolbar -->

    </div>
{% endblock %}

{% block content %}

    <form method="post" class="" autocomplete="off" action="/admin/type/update" id="threadtypeform"
          enctype="multipart/form-data">
        <div class="panel panel-white">
            <div class="table-responsive">
                <table class="table table-bordered  " id="export-form">

                    <thead>
                    <tr>
                        <th style="width: 85px;"><input type="checkbox" class="mr-5">删?</th>

                        <th style="width: 80px;">排序</th>
                        <th style="">名称</th>
                        <th style="">变量名</th>
                        <th style="">类型</th>

                        <th style="width:80px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for val in optionlist %}
                        <tr>
                            <td class="text-danger"><input type="checkbox" name="isdel" value="1" class="mr-5">
                                删?
                            </td>

                            <td><input type="text" class="form-control form-control-text" name="displayorder"
                                       value="{{ val.displayorder }}"></td>
                            <td><input type="text" class="form-control form-control-text" name="title"
                                       value="{{ val.title }}"></td>
                            <td><input type="hidden" name="identifier"
                                       value="{{ val.identifier }}">{{ val.identifier }}
                            </td>

                            <td>
                                <select name="type" class="form-control form-control-text select" disabled>
                                    <option value="number" {% if val.type == 'number' %}selected=""{% endif %}>
                                        数字(number)
                                    </option>
                                    <option value="text" {% if val.type == 'text' %}selected=""{% endif %}>字串(text)
                                    </option>
                                    <option value="textarea" {% if val.type == 'textarea' %}selected=""{% endif %}>
                                        文本(textarea)
                                    </option>
                                    <option value="radio" {% if val.type == 'radio' %}selected=""{% endif %}>
                                        单选(radio)
                                    </option>
                                    <option value="checkbox" {% if val.type == 'checkbox' %}selected=""{% endif %}>
                                        多选(checkbox)
                                    </option>
                                    <option value="select" {% if val.type == 'select' %}selected=""{% endif %}>
                                        选择(select)
                                    </option>
                                    <option value="calendar" {% if val.type == 'calendar' %}selected=""{% endif %}>
                                        日历(calendar)
                                    </option>
                                    <option value="email" {% if val.type == 'email' %}selected=""{% endif %}>
                                        电子邮件(email)
                                    </option>
                                    <option value="image" {% if val.type == 'image' %}selected=""{% endif %}>
                                        上传图片(image)
                                    </option>
                                    <option value="url" {% if val.type == 'url' %}selected=""{% endif %}>超级链接(url)
                                    </option>
                                    <option value="range" {% if val.type == 'range' %}selected=""{% endif %}>
                                        范围(range)
                                    </option>
                                </select>
                            </td>
                            <td>
                                <ul class="icons-list">
                                    <li class="">
                                        <a href="/admin/type/edittype/?optionid={{ val.optionid }}">
                                            <i class="icon-pencil7"></i>
                                        </a>
                                    </li>

                                </ul>
                                {#<a href="/admin/type/edittype/?typeid={{ val.optionid }}" class="btn btn-flat">#}
                                {#<i class="icon-pencil"></i>#}
                                {#</a>#}
                            </td>
                            <input type="hidden" name="optionid" value="{{ val.optionid }}">

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="panel-footer">
                <div class="col-md-12">
                    <!--<a href="javascript:void(0)" class="btn btn-default btn-xs"><i class="icon-plus"></i> 导入</a>-->
                    {#<a href="javascript:void(0)" class="btn btn-default btn-xs addtr"><i#}
                                {#class="fa fa-plus-circle position-left"></i> 添加分类</a>#}
                    {#<button class="btn btn-default btn-xs posttype" type="submit">确定</button>#}

                    <a href="javascript:void(0)" class="btn btn-default addtr"><i
                                class="icon-add position-left"></i> 添加分类信息属性</a>
                    <button class="btn btn-default posttype">
                        <i class="icon-check position-left"></i>
                        确定
                    </button>

                </div>

            </div>


        </div>
    </form>

{% endblock %}
{% block script %}
    <script>

      $(function () {
        $(".addtr").click(function () {
          var tr = '<tr>' +
            '<td></td>' +
            '<td> <input type="text" class="form-control form-control-text" name="displayorder" value="0" ></td>' +
            '<td><input type="text" class="form-control form-control-text" name="title" value=""></td>' +
            '<td><input type="text" class="form-control form-control-text" name="identifier" value=""></td>' +
            '<td><select name="type" class="form-control form-control-text select"><option value="number">数字(number)</option><option value="text" selected="">字串(text)</option><option value="textarea">文本(textarea)</option><option value="radio">单选(radio)</option><option value="checkbox">多选(checkbox)</option><option value="select">选择(select)</option><option value="calendar">日历(calendar)</option><option value="email">电子邮件(email)</option><option value="image">上传图片(image)</option><option value="url">超级链接(url)</option><option value="range">范围(range)</option></select></td>' +
            '</tr>';
          $("#export-form>tbody").append(tr);
        })
//提交数据
        $(".posttype").click(function () {
          var tr = $("#export-form>tbody>tr");
          var dataarr = []
          $.each(tr, function (k, v) {
            var obj = {};
            obj.isdel = $(v).find("input[name='isdel']:checked").val() || 0;
            obj.optionid = $(v).find("input[name='optionid']").val() || 0;
            obj.displayorder = $(v).find("input[name='displayorder']").val() || 0;
            obj.title = $(v).find("input[name='title']").val();
            obj.identifier = $(v).find("input[name='identifier']").val() || 0;
            obj.type = $(v).find("select[name='type']").val();
            obj.classid = '{{ controller.get("classid") }}';
            //console.log(obj);
            dataarr.push(obj);
          })
          console.log(dataarr);
          $.ajax({
            url: "/admin/type/updatetypeoption",
            data: {data: JSON.stringify(dataarr)},
            type: "post",
            success: function (res) {
              if (res.errno == 0) {
                if (res.data.url) {

                  toastr.success(res.data.name + ' 页面即将自动跳转~');
                } else {
                  toastr.success(res.data.name);
                }
                setTimeout(function () {
                  if (res.data.url) {
                    location.href = res.data.url;
                  } else {
                    location.reload();
                  }
                }, 1500);
              }
            }
          })
          return false;
        })

      })
    </script>
{% endblock %}