{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="{{ controller.get('model')|default('active', true) }}"><a href="/admin/approval/index"> 全部
                        <span class="badge bg-primary">{{ count }}</span></a></li>
                {% for m in model %}
                <li class="{% if controller.get('model')==m.id %}active{% endif %}"><a
                            href="/admin/approval/index/?model={{ m.id }}">{{ m.title }} {% if m.count > 0 %}<span
                                class="badge bg-primary">{{ m.count }}</span>{% endif %}</a>
                    {% endfor %}
                </li>

            </ul>
        </div>
        {% set actions = {
            primary: [{
                url: '/'+ ctx.module +'/'+ ctx.controller +'/adopta',
                text: '通过审核',
                attribute: 'target-form=ids',
                class: 'ajax-post'
            }, {
                url: '/'+ ctx.module +'/'+ ctx.controller +'/refuse',
                text: '拒绝审核',
                attribute: 'target-form=ids'
            }]
        } %}
        {{ pages.actionToolbar(actions) }}
            <div class="table-responsive">
                <table class="table table-hover b-t b-light treetable" id="category">
                    <thead>
                    <tr>
                        <th style="width:20px;"><input type="checkbox"></th>
                        <th> 用户</th>
                        <th>标题</th>
                        <th>发布时间</th>
                        <th>操作</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in list.data %}
                        <tr>
                            <td><label class="checkbox m-n i-checks"><input class="ids" type="checkbox" name="ids"
                                                                            value="{{ item.id }}"><i></i></label></td>
                            <td><a href="/admin/user/showuser/id/{{ item.uid }}" class="text-info"
                                   data-toggle="ajaxModal">{{ item.uid|get_nickname }}</a></td>
                            <td><a href="/admin/approval/details/id/{{ item.id }}" class="text-info"
                                   data-toggle="ajaxModal">{{ item.title }} <i class="fa fa-search-plus"></i> </a></td>
                            <td>{{ item.time | moment('YYYY-MM-DD HH:mm:ss') }}</td>


                            <td>
                                <a href="/admin/approval/details/id/{{ item.id }}"
                                   class="btn btn-rounded btn-xs btn-icon btn-default" data-toggle="ajaxModal" title=""><i
                                            class="fa fa-search-plus"></i></a>
                                <a href="#" class="btn btn-rounded btn-xs btn-icon btn-default" data-toggle="tooltip"
                                   data-placement="top" title="" data-original-title="编辑"><i
                                            class="fa fa-pencil-square-o"></i></a>
                                <a href="/{{ http.module }}/{{ http.controller }}/adopta/ids/{{ item.id }}"
                                   class="btn btn-rounded btn-xs btn-icon btn-success ajax-get" data-toggle="tooltip"
                                   data-placement="top" title="" data-original-title="通过审核"><i class="fa fa-check"></i></a>
                                <a href="/{{ http.module }}/{{ http.controller }}/refuse/ids/{{ item.id }}"
                                   class="btn btn-rounded btn-xs btn-icon btn-danger ajax-get" data-toggle="tooltip"
                                   data-placement="top" title="" data-original-title="拒绝审核"><i
                                            class="fa fa-minus-circle"></i></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">
                                <div class="alert alert-primary alert-block">
                                    <button data-dismiss="alert" class="close" type="button">×</button>
                                    <p>内容为空</p>
                                </div>
                            </td>
                        </tr>

                    {% endfor %}


                    </tbody>
                </table>
            </div>
            {% if pagerData %}
            <div class="card-footer">
                <div class="pull-right">
                    {{ pagerData | safe }}
                </div>
            </div>
            {% endif %}
        </div>

{% endblock %}
