{% extends "./layout_admin.html" %}

{% block appNavbar %}
    {% include "../_components/app_navbar.html" %}
{% endblock %}

{% block beforeMain %}
    {% block sidebar %}
        {% include "../_components/app_sidebar.html" %}
    {% endblock %}

    {% block sidebar2 %} {% endblock %}
{% endblock %}

{#{% block afterMain %} {% endblock %}#}

{% block main %}
    <div class="content-wrapper">
        {% block pageHeader %} {% endblock %}
        {#<div class="content content-boxed">#}
        <div class="content">
            {% block content %} {% endblock %}
        </div>

        <!-- Footer -->
        {% block footer %}
            {% include "../_components/app_footer.html" %}
        {% endblock %}
        <!-- /footer -->
    </div>
{% endblock %}