{% extends './layout_base.html' %}
{#{% block bodyClass %} navbar-top {% endblock %}#}
{% set bodyClass = 'navbar-top' %}

{% block beforeHeaderStyle %}
    <!-- Global stylesheets -->
    {#<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"#}
    {#type="text/css">#}
    <link href="{{ GLOBAL_ASSETS }}/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="{{ GLOBAL_ASSETS }}/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSETS }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSETS }}/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSETS }}/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSETS }}/css/components.css" rel="stylesheet" type="text/css">
    <link href="{{ ASSETS }}/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
{% endblock %}
{% block headerScript %}
    <script type="text/javascript" src="{{ GLOBAL_ASSETS }}/js/plugins/vue.js"></script>
    <script>
      new Vue({
        delimiters: ['${', '}']
      })
    </script>
    <script type="text/javascript" src="{{ GLOBAL_ASSETS }}/js/plugins/axios.min.js"></script>
{% endblock %}

{% block main %}

    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        {% block content %}
        {% endblock %}
        <!-- /content area -->
        <!-- Footer -->
        {% block footer %}
        {% endblock %}
        <!-- /footer -->
    </div>
    <!-- /main content -->

{% endblock %}
{% block afterMain %}
    <!-- Remote source -->
    <div id="modal_remote" class="modal fade" tabindex="-1">
        <div class="modal-dialog wmin-400">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Remote source</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body"></div>

                {#<div class="modal-footer">#}
                    {#<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>#}
                    {#<button type="button" class="btn bg-primary">Save changes</button>#}
                {#</div>#}
            </div>
        </div>
    </div>
    <!-- /remote source -->
{% endblock %}
{% block beforeFooterScript %}
    <script type="text/javascript">var plugin_path = '{{ ASSETS }}/plugins/';</script>

    <!-- Core JS files -->
    <script src="{{ GLOBAL_ASSETS }}/js/main/jquery.min.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/main/bootstrap.bundle.min.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/notifications/bootbox.min.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/forms/selects/select2.min.js"></script>
    <script type="text/javascript" src="{{ GLOBAL_ASSETS }}/js/plugins/notifications/pnotify/dist/iife/PNotify.js"></script>
    <script type="text/javascript" src="{{ GLOBAL_ASSETS }}/js/plugins/notifications/pnotify/dist/iife/PNotifyButtons.js"></script>
    <!-- Theme JS files -->
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/pagination/bs_pagination.min.js"></script>

    {% block beforeAppScript %}{% endblock %}
    <script src="{{ ASSETS }}/js/app.js"></script>
    <script src="{{ ASSETS }}/js/custom.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/demo_pages/components_modals.js"></script>
    <script type="text/javascript">
      PNotify.defaults.width = '300px';
    </script>


{% endblock %}

<!-- /theme JS files -->

