{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}
{% block sidebar2 %}
    <!-- Main sidebar -->
    <div class="sidebar sidebar-default">
        <div class="sidebar-fixed">

            <div class="sidebar-content">

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-title h6">
                        <span>搜索管理</span>
                        <ul class="icons-list">
                            <li><a href="#" data-action="collapse"></a></li>
                        </ul>
                    </div>

                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion navigation-bordered">

                            {% block _toolbar %}
                            {% endblock %}

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
    </div>
    <!-- /main sidebar -->

{% endblock %}

