{% extends "./_search_base.html" %}

{% block content %}
    {% set tabs = [{
        url: '/admin/search/index',
        text: '全站搜索',
        active: true,
        icon: ''
    }, {
        url: '/admin/search/createindex',
        text: '重建索引'
    }] %}
    {% set actions = {
        primary: [{
            url: '/admin/search/add',
            text: '添加搜索分类'
        }, {
            url: '/'+http.module +'/'+ http.controller +'/sort',
            text: '排序'
        }]
    } %}

    {% set theader = [
        { html: '排序' },
        { html: 'ID' },
        { html: '类别名称' },
        { html: '所属模型' },
        { html: '所属类型' },
        { html: '类别描述' },
        { html: '操作', width: '10%' }
    ] %}

    {% set rowItems = [] %}
    {% for item in list %}
        {% set rowItems = (rowItems.push({cells: [
            { html: '<input class="form-control form-control-text sort" name="sort" data-id="'+ item.id +'" value="'+item.sort+'">', width: '8%'},
            { html: item.id},
            { html: item.name },
            { html: (item.mod|getmode('title')) },
            { html: (('系统' if item.id == 1 else '独立模型') if item.extend == 0 else '系统模型') },
            { html: item.info },
            { classes: 'text-center',
                html: dropdowns.menu([ {
                text: '编辑',
                icon: 'icon-pencil',
                url: '/admin/search/eidt/?ids=' + item.id,
                toggle: true
            }, {
                url: '/admin/search/del?id=' + item.id,
                text: '删除',
                icon: 'icon-trash-alt'
            }])}
        ]}), rowItems) %}
    {% endfor %}

    {% if pagerData %}
        {% set pager = (pagerData | safe) %}
    {% endif %}

    {% set content = cards.toolbarGrid(actions, theader, rowItems, pager) %}
    {{ pages.tabContent(tabs, content) }}

{% endblock %}
{% block script %}
    <script src="/static/admin/js/parsley/parsley.min.js"></script>
    <script src="/static/admin/js/parsley/parsley.extend.js"></script>
{% endblock %}