{% extends "../default.html" %}
{#{% block bodyClass %} sidebar-xs {% endblock %}#}

{% block pageHeader %}
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">

            <div class="page-title">

                <h4><i class="icon-arrow-left52 position-left"></i> <span
                            class="text-semibold">支付与配送</span> - {{ controller.meta_title }}</h4>
            </div>

        </div>
        <div class="breadcrumb-line breadcrumb-line-component"><a class="breadcrumb-elements-toggle"><i
                        class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> 首页</a></li>
                <li><a href="/admin/database/index">订单中心</a></li>
                <li><a href="/admin/database/index">单据管理</a></li>
                <li class="active">{{ controller.meta_title }}</li>
            </ul>
            <ul class="breadcrumb-elements">
                <li class="{% if status == null %}active{% endif %}"><a href="/admin/order/list">
                        <i class="fa  fa-reorder position-left "></i> 全部订单
                    </a></li>
                <!--<li class=""><a href="#"><i-->
                <!--class="fa fa-minus-circle text-danger position-left"></i> 删除</a></li>-->
                <li class="{% if status == 2 %}active{% endif %}"><a href="/admin/order/list/status/2"><i
                                class="fa fa-eye-slash position-left"></i> 未审核</a></li>
                <li class="{% if status == 3 %}active{% endif %}"><a href="/admin/order/list/status/3"><i
                                class="fa fa-spin fa-circle-o-notch  position-left"></i> 执行中</a></li>

            </ul>

        </div>
    </div>
    <!-- /page header -->
{% endblock %}


{% block content %}

    <div class="card">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <!--<th style="width:20px;"><input-->
                    <!--type="checkbox"></th>-->
                    <th>订单号</th>
                    <th>订单总额</th>
                    <th>会员账号</th>
                    <th>收货人</th>
                    <th>收货人电话</th>
                    <th>支付方式</th>
                    <th>支付状态</th>
                    <th>配送状态</th>
                    <th>订单状态</th>
                    <th>操作</th>
                    <th>打印</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <!--<td><input class="ids" type="checkbox" name="ids"-->
                        <!--value="{{ item.id }}"></td>-->
                        <td>{{ item.order_no }}</td>

                        <td>￥{{ item.order_amount|formatCurrency }}</td>
                        <td>{{ item.user_id|get_nickname }}</td>
                        <td>{{ item.accept_name }}</td>
                        <td>{{ item.mobile }}</td>
                        <td>{{ item.channel }}</td>
                        <td> {% if item.pay_status == 0 %}<span class="text-muted">未支付</span>{% else %}<span
                                    class="text-success">已支付</span>{% endif %}
                        </td>
                        <td>{% if item.delivery_status == 0 %}<span class="text-muted">未发货</span> {% else %}<span
                                    class="text-success">已发货</span> {% endif %}
                        </td>

                        <td class="text-danger">
                            {% if item.status ==2 %}<span class="text-muted">等待审核 </span>{% elif item.status ==3 %}<span
                                    class="text-success">已审核</span>{% elif item.status ==6 %}
                                <del>已作废</del>
                                {% elif item.status == 4 %}<span class="text-primary">已完成</span>{% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><i
                                            class="fa fa-cog"></i> 处理 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="/admin/order/see/?id={{ item.id }}" data-toggle="modal"
                                           data-target="#modal_remote"><i
                                                    class="fa fa-eye"></i> 查看</a></li>
                                    {% if item.pay_status !=1 and item.status != 3 and item.delivery_status != 1 and
                                        item.status != 4 %}
                                        <li><a href="/admin/order/edit/?id={{ item.id }}" data-toggle="modal"
                                               data-target="#modal_remote"><i
                                                        class="fa fa-edit"></i> 编辑</a></li>
                                    {% endif %}
                                    {% if item.status ==2 %}
                                        <li><a href="/admin/order/audit/?id={{ item.id }}" data-toggle="modal"
                                               data-target="#modal_remote"><i
                                                        class="fa fa-check-square-o"></i> 审核</a></li>
                                        {% elif item.status ==3 and item.delivery_status == 0 %}
                                        <li><a href="/admin/order/ship/?id={{ item.id }}" data-toggle="modal"
                                               data-target="#modal_remote"><i
                                                        class="fa fa-truck"></i> 发货</a></li>
                                    {% endif %}
                                    {% if item.status != 6 and item.delivery_status != 2 and item.status ==3 %}
                                        <li><a href="/admin/order/finish/?id={{ item.id }}" data-toggle="modal"
                                               data-target="#modal_remote"><i
                                                        class="fa fa-smile-o"></i> 完成</a></li>
                                    {% endif %}
                                    {% if item.status != 6 %}
                                        <li><a href="/admin/order/void/?id={{ item.id }}" data-toggle="modal"
                                               data-target="#modal_remote"><i
                                                        class="fa fa-trash-o"></i> 作废</a></li>
                                    {% endif %}
                                    {% if item.status == 6 %}
                                        <li><a href="/admin/order/del/?id={{ item.id }}" class="confirm ajax-get"><i
                                                        class="fa fa-trash-o"></i> 删除</a></li>
                                    {% endif %}
                                    <li><a href="/admin/order/remark/?id={{ item.id }}" data-toggle="modal"
                                           data-target="#modal_remote"><i
                                                    class="fa fa-paperclip"></i> 备注</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group dropleft">
                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle"><i
                                            class="fa fa-print"></i> 打印 <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="fa fa-print"></i> 打印订单</a></li>
                                    <li><a href="#"><i class="fa fa-print"></i> 打印购物单</a></li>
                                    <li><a href="#"><i class="fa fa-print"></i> 打印配送单</a></li>
                                    <li><a href="#"><i class="fa fa-print"></i> 打印快递单</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="11">
                            <div class="alert alert-warning alert-block">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <p>This would display if the 'item' collection were empty</p>
                            </div>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="pull-right">
                {{ pagerData | safe }}
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}

    <script src="/static/admin/js/parsley/parsley.min.js"></script>
    <script src="/static/admin/js/parsley/parsley.extend.js"></script>

{% endblock %}