{% extends "../default.html" %}
{#{% block bodyClass %} sidebar-xs {% endblock %}#}

{% block pageHeader %}
<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">

        <div class="page-title">

            <h4><i class="icon-arrow-left52 position-left"></i> <span
                    class="text-semibold">支付与配送</span> - {{controller.meta_title}}</h4>
        </div>

        <div class="heading-elements">

            <div class="heading-btn-group">
                <a href="/admin/order/receiving"
                   class="active btn btn-link btn-float has-text ">
                    <i class=" icon-file-plus2 "></i>
                    <span>收款单</span>

                </a>
                <a href="/admin/order/invoice"
                   class="btn btn-link btn-float has-text  ">
                    <i class=" icon-file-check2 "></i>

                    <span>发货单</span>

                </a>
                <a href="/admin/order/refund"
                   class="btn btn-link btn-float has-text ">
                    <i class=" icon-file-minus2 "></i>

                    <span>退款单</span>

                </a>

            </div>

        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-component"><a class="breadcrumb-elements-toggle"><i
            class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="icon-home2 position-left"></i> 首页</a></li>
            <li><a href="/admin/database/index">订单中心</a></li>
            <li><a href="/admin/database/index">单据管理</a></li>
            <li class="active">{{controller.meta_title}}</li>
        </ul>

    </div>


</div>
<!-- /page header -->
{% endblock %}

{% block content %}
<div class="card">
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="export-form">
            <thead>
            <tr>

                <th>类型</th>
                <th>支付方式</th>
                <th>支付状态</th>
                <th>金额</th>
                <th>用户</th>
                <th>订单编号</th>
                <th>付款时间</th>
                <th style="width:130px;">操作</th>
            </tr>
            </thead>
            <tbody>
            {%for val in list%}
            <tr>
                <td>{%if val.doc_type == 0%}购买商品{%elif val.doc_type==1%}在线充值{%endif%}</td>
                <td> {{val.channel}}</td>

                <td>{%if val.pay_status == 0%} <span class="text-muted">未支付</span>{%else%}<span
                        class="text-success">已支付</span>{%endif%}
                </td>
                <td>{{val.amount|formatCurrency}}</td>
                <td>
                    {{val.user_id|get_nickname}}
                </td>
                <td>
                    {{val.order_id}}
                </td>
                <td>{{val.payment_time|dateformat('Y-m-d H:i:s')}}</td>
                <td><a href="#" class="btn btn-default btn-xs"> 查看</a></td>
            </tr>
            {%endfor%}


            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="pull-right">
            {{pagerData | safe}}
        </div>
    </div>
</div>

{% endblock %}