{% extends "../inc/base.html" %}
{% block header%}
<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">

        <div class="page-title">

            <h4><i class="icon-arrow-left52 position-left"></i> <span
                    class="text-semibold">支付与配送</span> - {{controller.meta_title}}</h4>
        </div>

        <div class="heading-elements">

            <div class="heading-btn-group">
                <a href="/admin/order/receiving"
                   class=" btn btn-link btn-float has-text ">
                    <i class=" icon-file-plus2 "></i>
                    <span>收款单</span>

                </a>
                <a href="/admin/order/invoice"
                   class=" btn btn-link btn-float has-text  ">
                    <i class=" icon-file-check2 "></i>

                    <span>发货单</span>

                </a>
                <a href="/admin/order/refund"
                   class="active btn btn-link btn-float has-text ">
                    <i class=" icon-file-minus2 "></i>

                    <span>退款单</span>

                </a>

            </div>

        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-component"><a class="breadcrumb-elements-toggle"><i
            class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="icon-home2 position-left"></i> 首页</a></li>
            <li><a href="/admin/database/index">订单中心</a></li>
            <li><a href="/admin/database/index">单据管理</a></li>
            <li class="active">{{controller.meta_title}}</li>
        </ul>

    </div>


</div>
<!-- /page header -->
{% endblock %}


{% block content %}

<div class="panel panel-flat">
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="export-form">
            <thead>
            <tr>

                <th>订单编号</th>
                <th>退款类型</th>
                <th>退款状态</th>
                <th>申请日期</th>

                <th style="width:150px;">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>20160305132711904858</td>
                <td> 账户余额</td>

                <td>申请退款</td>
                <td>2016-03-08 15:31:10</td>
                <td><a href="#" class="btn btn-default btn-xs"> 查看</a> <a href="#" class="btn btn-danger btn-xs"> 退款</a>

                </td>
            </tr>
            <tr>
                <td>20160305132711904858</td>
                <td> 账户余额</td>

                <td>申请退款</td>
                <td>2016-03-08 15:31:10</td>
                <td><a href="#" class="btn btn-default btn-xs"> 查看</a>  <a href="#" class="btn btn-danger btn-xs"> 退款</a>

                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

{% endblock %}