{% extends "../../_layouts/_main.html" %}

{% block content %}

    <div class="card">
        <div class="nav-tabs-responsive">
            <ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin/order/receiving"> 收款单 </a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order/invoice">发货单</a>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/order/refund">退款单</a>
            </ul>
        </div>
    <div class="table-responsive">
        <table class="table table-striped b-t b-light" id="export-form">
            <thead>
            <tr>

                <th>订单编号</th>
                <th>退款类型</th>
                <th>退款状态</th>
                <th>申请日期</th>

                <th style="width:150px;">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>20160305132711904858</td>
                <td> 账户余额</td>

                <td>申请退款</td>
                <td>2016-03-08 15:31:10</td>
                <td><a href="#" class="btn btn-default btn-xs"> 查看</a> <a href="#" class="btn btn-danger btn-xs"> 退款</a>
                </td>
            </tr>
            <tr>
                <td>20160305132711904858</td>
                <td> 账户余额</td>

                <td>申请退款</td>
                <td>2016-03-08 15:31:10</td>
                <td><a href="#" class="btn btn-default btn-xs"> 查看</a>  <a href="#" class="btn btn-danger btn-xs"> 退款</a>

                </td>
            </tr>

            </tbody>
        </table>
    </div>

</div>

{% endblock %}