{% extends "../default.html" %}
{% block content %}

    <div class="card col-lg-8">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">新增规则 </h5>
        </div>
        <div class="card-body">
            <form action="/limitless/action/update" class="form-horizontal" method="post"
                  data-validate="parsley">
                <div class="form-group">
                    <label class="font-weight-semibold">行为标识:</label>
                    <input name="name" type="text"
                           value="{{ data.name }}"
                           class="form-control" placeholder="标识名">
                    <span class="form-text text-muted">输入行为标识 英文字母.</span>
                </div>
                <div class="form-group">
                    <label class="font-weight-semibold">行为名称:</label>
                    <input name="title" type="text"
                           value="{{ data.title }}"
                           class="form-control" placeholder="请输入行为名称">
                </div>
                <div class="form-group">
                    <label class="d-block font-weight-semibold">行为类型</label>
                    {% for key,val in ""|get_action_type(true) %}
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" value="{{ key }}" name="type" {% if data.type==
                                key %}checked {% endif %}><i></i> {{ val }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label class="font-weight-semibold">行为描述:</label>
                    <textarea rows="5" cols="5" class="form-control" placeholder="输入行为描述" name="remark">{{ data.remark }}</textarea>
                </div>
                <div class="form-group">
                    <label class="font-weight-semibold">行为规则:</label>
                    <textarea rows="5" cols="5" class="form-control" placeholder="输入行为规则" name="rule">{{ data.rule }}</textarea>
                    <span class="form-text text-muted"><i
                                class="fa fa-info-circle text-primary"></i> 输入行为规则，不写则只记录日志 ，<code>${self}</code> 替换规则里的变量为执行用户的id。<br>
                                                            定义规则 ：<code>table:member|field:score|condition:id=${self}|rule:10|cycle:24|max:5</code><br>
                                                    <code>table</code>->要操作的数据表，不需要加表前缀；<br>
                                                            <code>field</code>->要操作的字段；<br>
                                                                      <code>condition</code>->操作的条件，目前支持字符串，默认变量 ${self} 为执行行为的用户<br>
                                                                    <code>rule</code>->对字段进行的具体操作，目前支持加或者减，如：10，-10<br>
                                                                       <code>cycle</code>->执行周期，单位（小时），表示cycle小时内最多执行max次<br>
                                                                     <code>max</code>->单个周期内的最大执行次数（cycle和max必须同时定义，否则无效）<br>
                                                                         单个行为后可加 ； 连接其他规则
                                                    </span>
                </div>

                <div class="form-group">
                    <label class="font-weight-semibold">日志规则</label>
                    <textarea rows="5" cols="5" name="log" class="form-control">{{ data.log }}</textarea>
                    <span class="form-text text-muted"><i
                                class="fa fa-info-circle text-primary"></i> （记录日志备注时按此规则来生成，支持[变量|函数]。目前变量有：user,time,model,record,data）</span>
                </div>

                <div class="form-group form-submit">
                    <div class="col-sm-4 col-sm-offset-2">
                        <input type="hidden" name="id" value="{{ data.id }}"/>
                        <button type="submit" target-form="form-horizontal"
                                class="btn btn-primary ajax-post">保存
                        </button>
                        <button type="submit" class="btn btn-default"
                                onclick="javascript:history.back(-1);return false;">返回
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/forms/parsley/parsley.min.js"></script>
    <script src="{{ GLOBAL_ASSETS }}/js/plugins/forms/parsley/parsley.extend.js"></script>
{% endblock %}