{% extends "../../_layouts/_main.html" %}
{% import "../../_components/_pages.html" as pages %}
{% import "../../_components/_cards.html" as cards %}
{% import "../../_components/_dropdowns.html" as dropdowns %}

{% block content %}
    {% set actions = {
        primary: [{
            url: '/' + ctx.module + '/' + ctx.controller + '/clear',
            toggle: true,
            icon: 'fa fa-trash-o',
            text: '清空'
        }, {
            url: '/' + ctx.module + '/' + ctx.controller + '/remove',
            text: '删除',
            icon: 'fa fa-minus-circle',
            attribute: 'target-form=ids'
        }],
        secondary: [{
            url: '/' + ctx.module + '/' + ctx.controller + '/roledel',
            text: '删除',
            attribute: 'target-form=ids'
        }, {
            url: '/' + ctx.module + '/' + ctx.controller + '/sort',
            class: 'ajax-post',
            icon: 'icon-sort-numeric-asc',
            attribute: 'target-form=sort',
            text: '排序'
        }]
    } %}

    {% set theader = [
        { html: '<input type="checkbox">', width: '5%' },
        { html: '行为名称' },
        { html: '执行者' },
        { html: '执行时间' },
        { html: '详细消息' },
        { html: '操作', width: '10%', classes: 'text-center' }
    ] %}

    {% set rowItems = [] %}
    {% for item in list %}
        {% set rowItems = (rowItems.push({cells: [

            { html: '<input class="ids" type="checkbox" name="ids" value="'+ item.id +'">' },
            { html: item.action_id},
            { html: item.user_id },
            { html: (item.create_time | dateformat('Y-m-d H:i:s')) },
            { html: item.remark },
            { classes: 'text-center',
                html: dropdowns.menu([ {
                text: '删除',
                icon: 'icon-trash-alt',
                url: ('/admin/action/remove?ids=' + item.id),
                classes: 'confirm ajax-get'
            }])}

        ]}), rowItems) %}
    {% endfor %}
    {% if pagerData %}
        {% set pager = ( pagerData | safe ) %}
    {% endif %}

    {% set content = cards.grid(theader, rowItems, pager) %}

    {{ pages.content(actions, content) }}
{% endblock %}