{% from './_Tables.html' import table with context %}

{% macro grid(theader, rows, pager) %}
    <div class="card">
        <div class="table-responsive">
            {{ table({rows: [{cells: theader}]}, { rows: rows }) }}
        </div>
        {% if pager %}
            <div class="card-footer">
                <div class="pull-right">
                    {{ pager }}
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro default(content, footer, style) %}
    <div class="card">
        {{ content }}
        {% if footer %}
            <div class="card-footer">
                {{ footer }}
            </div>
        {% endif %}
    </div>
{% endmacro %}