{% macro pageHeader() -%}
<div class="page-header">
    <div class="page-header-content">

        <div class="page-title">

            <h4><i class="icon-arrow-left52 position-left"></i> <span
                        class="text-semibold">系统配置</span> - {{ controller.meta_title }}</h4>
        </div>

        <div class="heading-elements">

            <a href="/admin/action/add"
               class=" btn btn-labeled btn-labeled-right bg-primary heading-btn ">
                添加规则
                <b><i class=" icon-add"></i></b>
            </a>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-component"><a class="breadcrumb-elements-toggle"><i
                    class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="icon-home2 position-left"></i> 首页</a></li>
            <li><a href="/admin/index">系统配置</a></li>
            <li class="active">{{ controller.meta_title }}</li>
        </ul>
        <ul class="breadcrumb-elements">
            <!--<li>-->
            <!--<a class=" " href="/admin/action/add">-->
            <!--<i class="fa fa-plus-circle position-left"></i> 新增-->
            <!--</a>-->
            <!--</li>-->
            <li>
                <a class="ajax-post" target-form="ids" href="/admin/action/setstatus/status/1"
                   target-form="ids">

                    <i class="fa fa-play-circle position-left text-success-600"></i>启用
                </a>
            </li>
            <li>
                <a class="ajax-post" href="/admin/action/setstatus/status/0" target-form="ids">
                    <i class="fa fa-stop-circle position-left text-warning"></i>禁用
                </a>
            </li>
            <li>
                <a class="ajax-post confirm" href="/admin/action/setstatus/status/-1"
                   target-form="ids">
                    <i class="fa fa-minus-circle position-left text-danger"></i> 删除
                </a>
            </li>
        </ul>

    </div>


</div>
{%- endmacro %}