{% extends "./base.html" %}
{% block pageAction %}
    <a href="/admin/attribute/add?model_id={{ model_id }}"
       class="btn btn-default ">
        <i class="fa fa-plus position-left text-primary"></i>
        新增字段
    </a>
    <a href="/admin/model/edit?id={{ model_id }}" class="btn btn-default">
        <i class="fa fa-cog position-left"></i>
        设置模型
    </a>
{% endblock %}

{% block _pageHeader %}
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">

            <div class="page-title">

                <h4>
                    <span class="text-semibold">系统配置</span> - {{ controller.meta_title }}</h4>
            </div>

            <div class="heading-elements">

                <a href="/admin/setup/add"
                   class="active btn btn-labeled btn-labeled-right bg-primary heading-btn ">
                    添加模型
                    <b><i class=" icon-add"></i></b>

                </a>
            </div>
        </div>
        <div class="breadcrumb-line breadcrumb-line-component"><a class="breadcrumb-elements-toggle"><i
                        class="icon-menu-open"></i></a>
            <ul class="breadcrumb">
                <li><a href="index.html"><i class="icon-home2 position-left"></i> 首页</a></li>
                <li><a href="/admin/database/index">系统配置</a></li>
                <li class="active">{{ controller.meta_title }}</li>
            </ul>
            <ul class="breadcrumb-elements">
                <!--<li><a href="/admin/channel/add">-->
                <!--<i class="  icon-add-to-list position-left"></i> 添加分类-->
                <!--</a></li>-->
                <li><a href="/admin/attribute/add?model_id={{ model_id }}"><i
                                class="fa fa-plus position-left"></i> 新增字段</a></li>

                <li><a href="/admin/model/edit?id={{ model_id }}"><i
                                class="fa fa-eye position-left"></i> 设置模型</a></li>


            </ul>

        </div>

    </div>
    <!-- /page header -->
{% endblock %}

{% block content %}

    <div class="card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th style="width:20px;"><input type="checkbox"></th>
                    <th style="width:80px;">编号</th>
                    <th class="">字段</th>
                    <th class="">名称</th>
                    <th class="">类型</th>
                    <th class="">创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <td><input class="ids" type="checkbox" name="ids" value="{{ item.id }}"></td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td><a data-id="{{ item.id }}" href="/admin/attribute/edit?id={{ item.id }}"
                               class="">{{ item.title }}</a></td>
                        <td>{{ item.type|get_attribute_type }}</td>
                        <td>
                            {{ item.create_time | format_time(1) }}
                        </td>
                        <td>
                            <a class="btn btn-default btn-xs" href="/admin/attribute/edit?id={{ item.id }}"
                               class="">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/admin/attribute/del?id={{ item.id }}"
                               class="confirm ajax-get ">删除</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">
                            <div class="alert alert-warning alert-block">
                                <button data-dismiss="alert" class="close" type="button">×</button>
                                <p>字段内容为空</p>
                            </div>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>
            </table>
        </div>
        {% if pagerData %}
            <div class="card-footer">
                <div class="pull-right">
                    {{ pagerData | safe }}
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}